.cart {
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  gap: 10px;
}
.cart-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.cart-empty {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 10px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.cart-empty h5 {
  margin: auto;
  color: black;
  font-size: 16px;
}
.cart-empty button {
  padding: 6px;
  background-color: var(--color-orange);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.cart hr {
  width: 100%;
  background: #a8a5a5;
}
.cart-products-section {
  height: fit-content;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}
.cart-button {
  padding: 6px;
  display: flex;
  background-color: var(--color-orange);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
}
.cart-button h5 {
  margin: 4px;
  font-size: 15px;
  padding: 0 2px;
}
.cat-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart-items {
  flex: 2;
  margin-right: 20px;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
}
.cart-item-details {
  flex: 1;
}
.cart-item-details h3 {
  font-size: 20px;
}

.cart-item-actions {
  text-align: right;
}

.cart-item-price h5 {
  font-weight: bold;
  font-size: 16px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}
.quantity-controls span {
  font-size: 14px;
  padding: 0 3px;
  font: bold;
}
.quantity-controls button {
  background: var(--color-orange);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin: 0 5px;
  padding: 1px 3px;
  border-radius: 5px;
}
.cart-old-prices {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.cart-icons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 0 20px;
}
.cart-icons-edit {
  display: flex;
  align-content: center;
  gap: 10px;
  margin: 10px;
}
.cart-icons-delete {
  margin: 2px;
  display: flex;
}
.cart-icons-delete h5 {
  margin: 5px;
  font-size: 16px;
  color: var(--color-orange);
}
.cart-icons-edit p {
  font-size: 15px;
  margin: auto;
}
.cart-icons-edit button {
  padding: 10px 12px;
  cursor: pointer;
  background: var(--color-orange);
  border: none;
  border-radius: 5px;
}
.remove-item {
  background: none;
  border: none;
  color: var(--color-danger);
  cursor: pointer;
  display: flex;
  margin: 5px;
}
.remove-item h4 {
  text-align: center;
  margin: auto;
  font-size: 18px;
}
.remove-item .cart-summary-section {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
}

.cart-subtotal {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.cart-subtotal h5 {
  font-size: 18px;
  font-weight: 500;
}
.cart-summary-section {
  background-color: #fff;
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  height: fit-content;
}
.cart-summary-section p {
  font-size: 15px;
  padding: 10px;
}
.btn-checkout {
  background: var(--color-orange);
  margin: 10px auto;
  color: #fff;
  font-weight: 400;
}
.old-prices {
  text-decoration: line-through;
  color: var(--color-dark);
  font-weight: 400;
}
.discount {
  color: var(--color-danger);
  font-weight: 400;
  background: pink;
  padding: 0 3px;
}
.getcartitems-input {
  width: 50px;
  height: 30px;
  border: 2px solid #ebebeb;
  background: #fff;
  text-align: center;
}
.remove-icon {
  cursor: pointer;
}
.btn-gradient {
  background: linear-gradient(45deg, #ff6b6b, #ff8e53);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-gradient:hover {
  background: linear-gradient(45deg, #ff8e53, #ff6b6b);
}
.empty-cart {
  text-align: center;
  padding: 50px;
  background: #fff;
}
.empty-cart h5 {
  font-size: 16px;
  color: black;
  padding: 5px;
}
@media screen and (max-width: 780px) {
  .cart {
    display: block;
  }
  .cart-products-section {
    margin-bottom: 10px;
  }
  .cart-product-details h4 {
    font-size: 16px;
    padding: 0 8px;
  }
}
