header {
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #d1caca;
  background-color: var(--dark-blue);
  color: #fff;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
  gap: 5px;
}
.header p {
  padding: 0 2px;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
}
.header-icon {
  align-content: center;
  padding: 0 5px;
  text-align: center;
}
.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  z-index: 9;
}

.mobile-header {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.mobile-header a h2 {
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.mobile-header a h2 span {
  color: var(--color-danger);
}
.mobile-icons {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1200px;
  margin: auto;
  padding: 2px 20px;
}

.nav-items ul {
  margin: 1rem;
  gap: 15px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
}
.nav-items ul li a {
  color: #fff;
}
.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.navbar-left a {
  color: #fff;
}
.navbar-left p {
  margin-left: 15px;
  cursor: pointer;
  color: #fff;
}
.search-container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  position: relative;
  max-width: 400px;
}

.search-bar {
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
}
.search-button {
  position: absolute;
  color: #777;
  right: 10px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  background: none;
  border: none;
}

.navbar-cart a {
  display: flex;
  color: #fff;
  position: relative;
}
.navbar-cart a:hover {
  color: var(--color-danger);
}
.navbar-cart a:active {
  color: var(--color-danger);
}
.navbar-cart a p {
  position: absolute;
  top: -1rem;
  right: -1rem;
  font-weight: 500;
  margin: auto;
}
.navbar-cart p {
  background-color: var(--color-danger);
  border-radius: 50%;
  color: #fff;
  padding: 2px;
  width: 15px;
  height: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navbar-left span {
  margin: 0 5px;
  display: flex;
}
.navbar-left span p {
  color: #fff;
}
.account-dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--dark-blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 1000;
  border-radius: 4px;
  display: none;
}
.account-dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-item {
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  display: block;
}
.dropdown-item:hover {
  background-color: #f7f7f7;
  color: #333;
}
.links .nav-link {
  margin-right: 15px;
  font-size: 14px;
}
.dancing-text {
  display: inline-block;
  animation: dance 0.8s infinite ease-in-out;
}

.active {
  position: relative;
  color: var(--color-danger);
}
.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
}
.menu-icon {
  display: none;
}
.show-nav {
  display: flex;
}
.hide-nav {
  display: block;
}
.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes dance {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media screen and (max-width: 901px) {
  .mobile-header a h2 {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: block;
  }
  .hide-nav {
    display: none;
  }
  .menu-icon {
    display: flex;
    cursor: pointer;
  }
  .mobile-icons {
    display: flex;
  }

  .mobile-header {
    /* font-size: 16px;
    display: flex;
    align-items: center; */
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }
  .mobile-icons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 5px 5px;
  }
  .search-container {
    display: flex;
    width: 100%;
  }
  .search-bar {
    width: 60%;
    justify-content: center;
    margin: auto;
    align-items: center;
  }

  .navbar-left {
    display: block;
  }
  .header {
    display: none;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .account-dropdown {
    display: none;
  }
  .navbar-left .navbar-cart {
    display: none;
  }

  .help {
    display: none;
  }
  .nav-ul {
    display: block;
  }
  .nav-ul li {
    margin: 10px 0;
  }
  .nav-wrapper {
    position: absolute;
    background-color: var(--dark-blue);
    padding: 2rem;
    width: 50%;
    height: 100vh;
    z-index: 999;
    top: 1;
    left: 0;
  }

  .menu-icon {
    display: flex;
    cursor: pointer;
  }
}
@media screen and (max-width: 580px) {
  .navbar {
    display: block;
  }
  .mobile-header {
    display: flex;
    justify-content: space-between;
  }
  .mobile-icons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .menu-icon {
    display: flex;
    cursor: pointer;
  }
  .account-dropdown {
    display: none;
  }
  .logo a h2 {
    font-size: 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .header {
    display: block;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 580px) {
  .navbar-left {
    display: flex;
    padding: 5px 0;
  }
  .logo {
    gap: 5px;
    display: block;
    justify-content: space-between;
  }
  .search-bar {
    width: 100%;
    justify-content: center;
    margin: auto;
    align-items: center;
  }
  .navbar-left input {
    width: 100%;
  }
  .navbar-left .navbar-cart {
    display: none;
  }
  .cart-logo {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .logo a h2 {
    font-size: 1.4rem;
  }

  .search-bar {
    padding: 6px;
  }
  .search-container {
    display: flex;
    width: 100%;
  }
}
