.shop-section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-width: 1200px;
    margin: auto;
    padding: 20px;

}
.sidebar-section{
    width: 250px;
    height: fit-content;
    border-right: 1px solid #535151;
    padding: 10px;
    background: white;
    border-radius: 10px;
}
.sidebar-section ul{
    list-style: none;
   padding: 0;
   margin: 0;
}
.sidebar-section li{
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.products-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 10px;
   margin: 6px;
}